<%= form_for(@user) do |f|%>

 <div class="field">
    <br><%= f.label :id %>
      =  
    <%= params[:user_id] %>
  </div>

  <div class="field">
    <br><%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <br><%= f.label :email %><br>
    <%= f.email_field :email %><br>
  </div>

  <div class="field">
  <br>
  <%= f.label :role_name %><br>
    <%= select_tag(:role_name, options_for_select(
   @role.collect{|u| 
     params[:role_name]=[u.name] }
     ))
 %>
  </div>
  <div class="actions">
   <br>
 <br>
    <%= f.submit(:class  => "btn btn-primary") %>
  </div>

<% end %>