<!DOCTYPE html>
<html>
<head>
  <title>HỆ THỐNG THI TRẮC NGHIỆM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="backgrounds">
      <%= render 'layouts/header' %>
      <%= render 'layouts/menu' %>
</div>
<!--  -->
<div class="top">

<%= yield %>

</div>
</body>
</html>
